body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#myH1{
    font-size: 4rem;
    font-family: "Arial",sans-serif;
    color: rgb(0, 0, 25%);
}
#container{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:30px;
    border:5px solid;
    border-radius: 50px;
    background-color: white;
}
#display
{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0, 30%);
    text-shadow: 2px 2px 2px hsl(0,0%,0%,0.75);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5 px;
    min-width: 125px;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: rgb(6, 209, 6);
}
#stopBtn{
    background-color: rgb(206, 209, 6);
}
#resetBtn{
    background-color: rgb(209, 6, 6);
}

#startBtn:hover{
    background-color: rgb(6, 151, 6);
}
#stopBtn:hover{
    background-color: rgb(157, 160, 4);
}
#resetBtn:hover{
    background-color: rgb(145, 7, 7);
}
